/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateShadow {
  0% {
    box-shadow:
      0 10px 15px -3px rgba(230, 225, 225, 0.5),
      0 4px 8px -2px rgba(230, 225, 225, 0.5),
      0 20px 25px -5px rgba(229, 230, 225, 0.5),
      0 8px 16px -4px rgba(230, 225, 225, 0.24);
  }
  25% {
    box-shadow:
      10px 0 15px -3px rgba(230, 225, 225, 0.5),
      8px 0 8px -2px rgba(230, 225, 225, 0.5),
      20px 0 25px -5px rgba(229, 230, 225, 0.5),
      16px 0 16px -4px rgba(230, 225, 225, 0.24);
  }
  50% {
    box-shadow:
      0 -10px 15px -3px rgba(230, 225, 225, 0.5),
      0 -4px 8px -2px rgba(230, 225, 225, 0.5),
      0 -20px 25px -5px rgba(229, 230, 225, 0.5),
      0 -8px 16px -4px rgba(230, 225, 225, 0.24);
  }
  75% {
    box-shadow:
      -10px 0 15px -3px rgba(230, 225, 225, 0.5),
      -8px 0 8px -2px rgba(230, 225, 225, 0.5),
      -20px 0 25px -5px rgba(229, 230, 225, 0.5),
      -16px 0 16px -4px rgba(230, 225, 225, 0.24);
  }
  100% {
    box-shadow:
      0 10px 15px -3px rgba(230, 225, 225, 0.5),
      0 4px 8px -2px rgba(230, 225, 225, 0.5),
      0 20px 25px -5px rgba(229, 230, 225, 0.5),
      0 8px 16px -4px rgba(230, 225, 225, 0.24);
  }
}

.luxury-shadow {
  /* box-shadow:
    0 10px 15px -3px rgba(230, 225, 225, 0.5),
    0 4px 8px -2px rgba(230, 225, 225, 0.5),
    0 20px 25px -5px rgba(229, 230, 225, 0.5),
    0 8px 16px -4px rgba(230, 225, 225, 0.24); */
  animation: rotateShadow 4s infinite linear;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 text-gray-600;
  }

  ul,
  ol {
    @apply list-disc pl-5;
  }
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.sticky-wrapper {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

.container-wallpaper {
  width: 100%;
  min-height: 100vh;
  --s: 200px; /* control the size */
  /* --c1: #555555;
  --c2: #33007a;
  --c3: #010579; */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  /* --c1: #342211;
  --c2: #a68473;
  --c3: #d3c1b8; */
  /* --c1: #334a30;
  --c2: #517c4f;
  --c3: #b3dfc1; */
  /* --c1: #880048;
  --c2: #ec407a;
  --c3: #f8bbd0; */
  /* 200: '#f8bbd0',
  300: '#f48fb1',
  400: '#f06292',
  500: '#ec407a',
  600: '#b0006f',
  700: '#880048', */
  /* 200: '#cce9d5',
  300: '#b3dfc1',
  400: '#99d4ac',
  500: '#517c4f',
  600: '#42633f',
  700: '#334a30',
  800: '#253220', */
  /* 200: '#d3c1b8',
  300: '#bda396',
  400: '#a68473',
  500: '#56351E',
  600: '#452b18',
  700: '#342211', */
  background:
    repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg)
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.container-bg {
  width: 100%;
  height: 100vh;
  --s: 125px; /* control the size */
  --c1: #517c4f;
  --c2: #56351e;

  --_g: var(--c1) 90deg, var(--c2) 0 135deg, #0000 0;
  background: conic-gradient(
      from -45deg at calc(100% / 3) calc(100% / 3),
      var(--c1) 90deg,
      #0000 0
    ),
    conic-gradient(from -135deg at calc(100% / 3) calc(2 * 100% / 3), var(--_g)),
    conic-gradient(
      from 135deg at calc(2 * 100% / 3) calc(2 * 100% / 3),
      var(--_g)
    ),
    conic-gradient(
      from 45deg at calc(2 * 100% / 3) calc(100% / 3),
      var(--_g),
      var(--c1) 0 225deg,
      var(--c2) 0
    );
  background-size: var(--s) var(--s);
}

.luxury-card {
  --background: linear-gradient(to left, #ec407a 0%, #010579 100%);
  /* width: 190px;
  height: 254px; */
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #ec407a;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.luxury-card::after {
  position: absolute;
  content: '';
  top: 40px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(50px);
  background: #ec407a;
  background: var(--background);
  transition: opacity 0.5s;
}
